* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;

  background-image: url("../images/marbel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
}

input {
  color: #1e87f0 !important;
}

#footer {
  letter-spacing: 0.2rem;
}

.btn {
  transition: all 0.2s;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 2rem;
}

.btn:active {
  transform: translateY(0.1rem);
}

.progress {
  margin-left: 25%;
  margin-right: 25%;
}

.search-btn {
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.7s;
  letter-spacing: 0.1rem;
}

.search-btn:hover {
  background-color: #1e87f0 !important;
  color: #fff !important;
}
.search-btn:active {
  transform: translateY(0.1rem);
}

.controls {
  margin-top: 2rem;
}

.tracks {
  letter-spacing: 0.2rem;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
}

.sub_title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

.secondary {
  color: #1e87f0 !important;
}
