* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;

  background-image: url("../images/marbel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
}

input {
  color: #1e87f0 !important;
}

#footer {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#duration {
  margin: 0rem;
  display: none;
}

.btn {
  transition: all 0.2s;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 2rem;
}

.btn:active {
  transform: translateY(0.1rem);
}

.progress {
  margin-left: 25%;
  margin-right: 25%;
}

.search-btn {
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.7s;
  letter-spacing: 0.1rem;
}

.search-btn:hover {
  background-color: #1e87f0 !important;
  color: #fff !important;
}
.search-btn:active {
  transform: translateY(0.1rem);
}

.controls {
  margin-top: 2rem;
}

.tracks {
  letter-spacing: 0.2rem;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
}

.sub_title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  padding: 0.25rem;
}

.secondary {
  color: #1e87f0 !important;
}

/* timer */
.dial {
  height: 25rem;
  width: 30rem;
  top: 13.5rem;
  left: 2.5rem;
  position: relative;
}

.custom {
  margin-top: -22rem;
}
@media only screen and (max-width: 1200px) {
  .dial {
    height: 25rem;
    width: 30rem;
    top: 11.5rem;
    left: 2.5rem;
    position: relative;
  }
  .btn {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 970px) {
  .dial {
    height: 25rem;
    width: 30rem;
    top: 7.75rem;
    left: 2.5rem;
    position: relative;
  }
  .custom {
    margin-top: -25rem;
  }
}

@media only screen and (max-width: 600px) {
  .dial {
    height: 25rem;
    width: 30rem;
    top: 4.75rem;
    left: 2rem;
    position: relative;
  }
  .custom {
    margin-top: -28rem;
  }
}

@media only screen and (max-width: 400px) {
  .dial {
    height: 28rem;
    width: 20rem;
    top: -6rem;
    left: 0rem;
    position: relative;
  }
  body {
    margin: 0rem;
    padding: 2rem 0rem;
  }
  .custom {
    margin-top: -24rem;
  }

  .btn {
    font-size: 2rem;
    cursor: pointer;
    display: inline;
    margin: 2rem 1rem;
  }
  .track {
    margin-bottom: 8rem;
  }
  #album-cover {
    height: 30%;
  }
}
