* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  margin: 1rem;
  background-image: url("../images/marbel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

header {
  margin-bottom: 2rem;
}

.btn {
  transition: all 0.2s;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 2rem;
}

.btn:active {
  transform: translateY(0.1rem);
}

.progress {
  margin-left: 25%;
  margin-right: 25%;
}

.search-btn {
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;
}

.search-btn:active {
  transform: translateY(0.1rem);
}

.controls {
  margin-top: 2rem;
}

.tracks {
  letter-spacing: 0.2rem;
}

.title {
  text-transform: uppercase !important;
  letter-spacing: 0.1rem;
}

.sub_title {
  text-transform: uppercase !important;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}
